<div class="container col-md-12">
    <div class="loading" *ngIf="loading">
        <div class="lds-ripple" *ngIf="loading">
            <div></div>
            <div></div>
        </div>
    </div>
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="busqueda">
        <div>
            <h1>{{titulo}}</h1>
        </div>
        <div class="contenido">
            <div class="form">
                <!-- <div class=" input-t">
                    <label for="base">Password</label>
                    <input id="base" type="password" class="form-control-sm" (change)="pass($event.target.value)">
                </div> -->
                <div class="selected">
                    <select (change)="estadoSelected($event.target.value)">
                        <option value="0">Selecciona un Estado</option>
                        <option *ngFor="let estado of estados" value="{{estado.clave_entidad}}">{{estado.nombre}}</option>
                    </select>
                    <br>
                    <select *ngIf="disabledDist !== true" (change)="distritoSelected($event.target.value)">
                        <option value="0" >Selecciona un Distrito</option>
                        <option *ngFor="let distrito of distritos">{{distrito}}</option>
                    </select>
                    <br>
                    <select *ngIf="disabledPartido !== true" (change)="partidoSelected($event.target.value)">
                        <option value="0">Selecciona un Partido</option>
                        <option *ngFor="let partido of partidos" value="{{partido.id_name}}">{{partido.nombre}}</option>
                    </select>
                    <br>
                    <div class="boton">
                        <button (click)="buscar()" class="btn btn-outline-info">BUSCAR</button>
                    </div>
                </div>

            </div>

            <div class="mapMX" id="estado" (click)="selected($event?.point?.DISTRITO_L, $event)" (touchend)="selected($event?.point?.DISTRITO_L,$event)"></div>

            <div id="bloquear" *ngIf="info !== undefined" class="informacion infodistritos">
                <p>Base: <br> {{info?.base}}</p>
                <p class="distritos">{{info?.distrito}} </p>
                <p>Indecisos <br> {{info?.indecisos}}</p>
                <p>Arrepentidos <br> {{info?.arrependidos}} </p>
                <p>Pro Oposición <br> {{info?.proOposicion}}</p>
                <p>Audiencia Digital <br>{{info?.audienciaDigital}}</p>
                <p> Mejor Horario:
                    <br> {{info?.hombres}}
                    <br> {{info?.mujeres}} </p>
                <p class="competenciasdistritos">Competencia: <br>{{info?.competencia}}</p>
                <p class="competenciasdistritos">Afiliados: <br>{{info?.afiliados}}</p>
                <p class="competenciasdistritos">ActivosDigitales: <br>{{info?.activosDigitales}}</p>
                <p class="competenciasdistritos">Tracking: <br>{{info?.tracking}}</p>
            </div>
        </div>

    </div>

</div>