<div id="bloquear" class="container col-md-12">
    <div class="loading" *ngIf="loading">
        <div class="lds-ripple" *ngIf="loading">
            <div></div>
            <div></div>
        </div>
    </div>
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="formulario fondo">
        <h1>{{titulo}}</h1>
        <br>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="go-bottom">
            <div class="input">
                <label for="username">Username</label>
                <input id="username" formControlName="username" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.username.errors }">
                <div *ngIf="submitted && fval.username.errors" class="invalid-feedback">
                    <div *ngIf="fval.username.errors.required">{{error}}</div>
                </div>
            </div>
            <div class="input">
                <label for="access">Contraseña</label>
                <input id="access" formControlName="access" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.access.errors }">
                <div *ngIf="submitted && fval.access.errors" class="invalid-feedback">
                    <div *ngIf="fval.access.errors.required">{{error}}</div>
                </div>
            </div>
            <div class="input">
                <label for="rol">Rol</label>
                <select id="rol" formControlName="rol" class="form-control">
                    <option value="0" selected disabled>{{userForm.controls.rol.value}</option>
                    <option *ngFor="let rol of roles" value="{{rol.value}}">{{rol.value}}</option>
                </select>
            </div>
            <div class="input">
                <label for="rol">Partido</label>
                <select id="partido" formControlName="partido" class="form-control">
                    <option value="0" selected disabled>{{userForm.controls.partido.value}</option>
                    <option *ngFor="let partido of partidos" value="{{partido.id_name}}">{{partido.nombre}}</option>
                </select>
            </div>
            <div class="mt-3" [formGroup]="distForm">
                <h5>Asociar los estados que podrá visualizar este usuario</h5>
                <div class=" input">
                    <label for="base">Estado</label>
                    <select class="form-control" formControlName="estado" (change)="selectedEdo($event)">

                        <option  value="0" disabled selected>{{distForm.controls.estado.value}}</option>
                        <option *ngFor="let estado of estados" value="{{estado.clave_entidad}}">{{estado.nombre}}</option>
                    </select>
                </div>
                <div class="input" *ngIf="disabledDist">
                    <label for="distrito">Distrito</label>
                    <select class="form-control" formControlName="distrito" (change)="selectedDist()">
                        <option  value="0" disabled selected>{{distForm.controls.distrito.value}}</option>
                        <option *ngFor="let item of distritos">{{item}}</option>
                    </select>
                </div>
                <div class="input" *ngIf="disabledSec">
                    <label for="secciones">Secciones</label>
                    <tag-input formControlName="secciones"></tag-input>
                </div>

                <br>
                <div class="botones">
                    <button *ngIf="!new" id="button" type="button" class="btn btn-success" (click)="saveEdo()">GUARDAR</button>
                    <button *ngIf="new" id="button" type="reset" class="btn btn-primary" (click)="clear()">Agregar Otro </button>
                </div>
            </div>
            <div>
                <table class="table table-dark mt-5">
                    <thead>
                        <tr>
                            <th>ESTADO</th>
                            <th>DISTRITOS</th>
                            <th>SECCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of distritosArr">
                            <td>{{item.estado}}</td>
                            <td>{{item.distrito}}</td>
                            <td>{{item.secciones}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>


            <br>
            <div class="botones">
                <button id="button" type="submit" class="btn btn-success">GUARDAR</button>
                <button id="button" type="reset" [routerLink]="['/home_admin']" class="btn btn-danger">CANCELAR</button>
            </div>
        </form>
    </div>
</div>