.iframe {
    width: 80%;
    margin-top: 50px;
    min-height: 100%;
}

.chart {
    min-width: 100% !important;
    min-height: 700px;
}

.title {
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .chart {
        width: 80% !important;
        height: 80%;
    }
}