    nav,
    a,
    span,
    .navimg,
    .menunav,
    .anav {
        width: 0;
        height: 0;
        color: transparent;
        font-size: 0 !important;
        background-color: 0;
    }
    
    p {
        margin: 0 !important;
        padding: 0 !important;
        justify-content: left !important;
        flex-flow: column nowrap;
        text-align: left !important;
        color: #FFFFFF;
    }
    
    .sidenav {
        align-items: center !important;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: #3F3F3F;
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        justify-content: space-around !important;
        color: #FFFFFF;
        flex-flow: column wrap !important;
        height: 180px;
    }
    
    @media only screen and (max-width: 600px) {
        div#side,
        .side {
            width: min-content;
            // height: 350px;
            display: flex;
            justify-content: start;
            flex-flow: column wrap;
        }
        .navside,
        .menuside,
        .aside,
        .sideimg {
            width: 0;
            color: transparent !important;
            font-size: 0 !important;
            height: auto;
        }
        .menunav,
        .anav {
            width: 100%;
            font-size: medium !important;
            color: #FFFFFF !important;
            text-align: left !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        nav,
        span {
            width: 100%;
            height: 40px;
            color: #FFFFFF !important;
            font-size: large !important;
        }
        a {
            width: 100% !important;
            height: 100%;
        }
        img.navimg {
            width: auto;
            height: 20%;
        }
        .anav {
            height: 80%;
        }
        .menuside {
            // min-height: 300px;
        }
        p {
            margin: 0 !important;
            padding: 0 !important;
            justify-content: left !important;
            flex-flow: column wrap;
            text-align: left !important;
            color: #FFFFFF;
            height: min-content;
        }
    }