.mapMX {
    height: 400px !important;
    margin: 0 !important;
    width: min-content;
}

.distritos {
    color: #4C93C6;
    font-weight: normal;
    font-size: small !important;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
    font-size: small;
    width: min-content;
}

@media only screen and (max-width: 600px) {
    .mapMX {
        width: 300px !important;
    }
}