.img {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap !important;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}

.partidos {
    width: 70%;
    display: flex !important;
    justify-content: space-around !important;
    flex-flow: row wrap !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
}

.panleft {
    width: 44%;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
}

.column {
    width: 49% !important;
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    flex-flow: column-reverse nowrap !important;
    margin: 0 !important;
    padding: 0 !important;
    // margin-bottom: 5%;
}

.partido {
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    flex-flow: row wrap !important;
    margin: 0 !important;
    padding: 0 !important;
}

.right {
    width: 45%;
    margin: 0 !important;
    padding: 0 !important;
    text-align: right !important;
}

.left {
    width: 46%;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .partidos {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between !important;
        flex-flow: column wrap !important;
    }
    .partido {
        width: 100% !important;
        display: flex;
        justify-content: space-around;
        align-items: center !important;
        flex-flow: row wrap !important;
    }
    a {
        margin-right: 5px;
    }
    .img {
        display: flex;
        justify-content: center;
        flex-flow: row wrap !important;
        width: 30% !important;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .column {
        width: 100% !important;
        display: flex;
        justify-content: flex-start;
        align-items: center !important;
        flex-flow: row wrap !important;
    }
    .right {
        text-align: left !important;
    }
    .change {
        width: 100% !important;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center !important;
        flex-flow: row-reverse wrap !important;
    }
}

.competencias {
    color: #DC4564;
}

.alianza {
    font-size: larger !important;
}