<div class="container col-md-12">
    <div class="loading " *ngIf="loading ">
        <div class="lds-ripple " *ngIf="loading ">
            <div></div>
            <div></div>
        </div>
    </div>
    <app-sidebar class="sidebar"></app-sidebar>
    <div id="bloquear " class="partidos ">
        <div class="column ">
            <div class="partido ">
                <div class="right ">
                    <p>Alcance Social <br> {{partido1?.alcance_Social | percent}}</p>
                    <p>Impacto <br>{{partido1?.impacto | percent}}</p>
                    <p>Influencia Social <br> {{partido1?.influencia}}</p>
                </div>
                <img class="img " src="../../../assets/logos/MC.png " width="55% ">

            </div>
            <div class="partido ">
                <div class="right ">
                    <p>Alcance Social <br> {{partido2?.alcance_Social | percent}}</p>
                    <p>Impacto <br>{{partido2?.impacto | percent}}</p>
                    <p>Influencia Social <br> {{partido2?.influencia}}</p>
                </div>
                <img class="img " src="/assets/logos/PRI.png " width="55% ">

            </div>
        </div>
        <div class="column ">
            <div class="partido ">
                <img class="img " src="/assets/logos/PAN.png " width="56% ">
                <div class="panleft ">
                    <p>Alcance Social <br> {{partido3?.alcance_Social | percent}}</p>
                    <p>Impacto <br>{{partido3?.impacto | percent}}</p>
                    <p>Influencia Social <br> {{partido3?.influencia}}</p>
                </div>
            </div>
            <div class="partido ">
                <img class="img " src="/assets/logos/MOR.png " width="54% ">
                <div class="left ">
                    <p>Alcance Social <br> {{partido4?.alcance_Social | percent}}</p>
                    <p>Impacto <br>{{partido4?.impacto | percent}}</p>
                    <p>Influencia Social <br> {{partido4?.influencia}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="bloquear " aria-disabled="true " class="informacion ">
        <p>Base D XIV <br>{{info?.base}}</p>
        <p>Indecisos <br> {{info?.indecisos}}</p>
        <p>Arrepentidos <br> {{info?.arrependidos}} </p>
        <p>Pro Oposición <br> {{info?.pro_Oposicion}}</p>
        <p>Audiencia Digital <br> {{info?.audiencia_Digital}}</p>
        <p> Mejor Horario
            <a> {{info?.hombres}} Hombres</a>
            <a> {{info?.mujeres}} Mujeres</a>
        </p>
        <p class="competencias ">Competencia: <br> {{info?.competencia}}</p>
        <p class="competencias ">Afiliados: <br> {{info?.afiliados}}</p>
        <p class="competencias ">ActivosDigitales: <br> {{info?.activosDigitales}}</p>
        <p class="competencias ">Tracking: <br> {{info?.tracking}}</p>
        <p class="alianza ">Alcance coalición: <br> {{info?.alcanceCoalicion}}</p>
        <p class="alianza ">Influencia: <br> {{info?.influencia}}</p>
    </div>
</div>