<div class="login">
    <div id="loginCard" class="card" style="background-color: transparent">
        <h4 class="card-header">Entropía - Ingreso</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <img class="logo navimg" src="/assets/logos/LOGO.png">
                </div>
                <div>
                    <div class="input-group">
                        <input id="username" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="username"><i class="fas fa-user mr-2"></i>Usuario</label>
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">El usuario es obligatoria</div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label><i class="fas fa-lock mr-2"></i> Password</label>

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
                        </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-secondary" style="color: white;">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Ingresar
              </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>

            </form>
        </div>
    </div>
</div>