.input {
    margin-bottom: 5px !important;
    min-width: 45% !important;
}

label {
    font-weight: bold !important;
}

.fondo {
    min-width: 96%;
    background: url('/assets/images/backgroud/background-black.jpg'), no-repeat center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #F0F0F0;
    padding-left: 2%;
    padding-right: 2%;
}

.between-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input,
select {
    border-color: gray;
    color: #FFFFFF;
    background-color: #3F3F3F !important;
}

.ng-tns-c3-0 {
    border-color: gray !important;
    color: #FFFFFF !important;
    background-color: #3F3F3F !important;
}

.ng2-tag-input__text-input[_ngcontent-xpf-c5] {
    border-color: gray !important;
    color: #FFFFFF !important;
    background-color: #3F3F3F !important;
}

tag-input-dropdown {
    border-color: gray;
    color: #FFFFFF;
    background-color: #3F3F3F !important;
}

input:focus,
select:focus {
    border-color: gray;
    color: #FFFFFF;
    background-color: #3F3F3F !important;
}

option {
    background: #3F3F3F !important;
    background-color: #3F3F3F !important;
    color: #FFFFFF;
}

h1 {
    width: 100%;
    text-align: center;
}

.card {
    margin-top: 5px;
    min-width: 100%;
    margin-bottom: 5px !important;
    background-color: transparent;
    border-color: transparent;
}

.between-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.botones {
    width: 100%;
    display: flex;
    flex-flow: row wrap !important;
    justify-content: space-around !important;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
}

.botones {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around !important;
}

button#button {
    width: 40%;
    background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
    .input {
        margin-bottom: 5px !important;
        min-width: 100% !important;
    }
    .in {
        width: 100% !important;
    }
    .menu {
        margin-top: 5px;
        width: 100% !important;
    }
}

.menu {
    width: 40%;
    min-height: 50px;
    padding-left: 5px;
}

.ciudades {
    width: 65%;
}

.add {
    width: 35%;
    max-height: min-content !important;
}

.betrow {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
}

.in {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

p {
    margin: 2px;
}