<div id="bloquear" class="container col-md-12">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="formulario fondo">
        <h1>{{titulo}}</h1>
        <br>
        <form [formGroup]="estadoForm" (ngSubmit)="onSubmit()" class="go-bottom">
            <div class="between-row">
                <div class="input">
                    <label for="base">Base</label>
                    <input id="base" formControlName="base" type="text" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.base.errors }">
                    <div *ngIf="submitted && fval.base.errors" class="invalid-feedback">
                        <div *ngIf="fval.base.errors.required">{{error}}</div>
                    </div>
                </div>
                <div class=" input">
                    <label for="base">Estado</label>
                    <select formControlName="clave_entidad" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.clave_entidad.errors }" (change)="selected($event)">
                            <option selected value="" disabled>Estados</option>
                            <option *ngFor="let estado of estados" value="{{estado.clave_entidad}}">{{estado.nombre}}</option>
                        </select>
                    <div *ngIf="submitted && fval.clave_entidad.errors" class="invalid-feedback">
                        <div *ngIf="fval.clave_entidad.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <div class="between-row ">
                <div class="card" *ngIf="disabledDist">
                    <label for="base">Ciudades</label>
                    <div class="betrow">
                        <div class="in">
                            <input id="ciudades" formControlName="ciudades" type="text" class="form-control ciudades" value="">
                            <button class="btn btn-outline-info add" role="group" type="button" (click)="addCiudades(fval.ciudades.value)" data-toggle="modal" data-target="#add">
                                Agregar
                            </button>
                        </div>

                        <div class="menu">
                            <p *ngFor="let ciudad of ciudades; let i of index" [ngClass]="{ 'is-invalid': submitted && fval.ciudades.errors }"> <a (click)="borrarC(ciudades,i)"><i class="fas fa-trash mr-2"></i> </a> {{ciudad}} </p>
                            <div class="alert alert-danger" role="alert" *ngIf="errorCd !== false">
                                {{errorText}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="submitted && fval.ciudades.errors" class="invalid-feedback">
                        <div *ngIf="fval.ciudades.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <div class="between-row">
                <div class="input">
                    <label for="indecisos">Indecisos</label>
                    <input id="indecisos" formControlName="indecisos" type="text" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.indecisos.errors }">
                    <div *ngIf="submitted && fval.indecisos.errors" class="invalid-feedback">
                        <div *ngIf="fval.indecisos.errors.required">{{error}}</div>
                    </div>
                </div>
                <div class="input">
                    <label for="arrepentidos">Arrepentidos</label>
                    <input id="arrepentidos" formControlName="arrepentidos" type="text" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.arrepentidos.errors }">
                    <div *ngIf="submitted && fval.arrepentidos.errors" class="invalid-feedback">
                        <div *ngIf="fval.arrepentidos.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <div class="between-row">
                <div class="input">
                    <label for="audienciaDigital">Audiencia Digital</label>
                    <input id="audienciaDigital" formControlName="audienciaDigital" type="text" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.audienciaDigital.errors }">
                    <div *ngIf="submitted && fval.audienciaDigital.errors" class="invalid-feedback">
                        <div *ngIf="fval.audienciaDigital.errors.required">{{error}}</div>
                    </div>
                </div>
                <div class="input">
                    <label for="activosDigitales">Activos Digitales</label>
                    <input id="activosDigitales" formControlName="activosDigitales" type="text" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.activosDigitales.errors }">
                    <div *ngIf="submitted && fval.activosDigitales.errors" class="invalid-feedback">
                        <div *ngIf="fval.activosDigitales.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <div class="between-row">
                <div class="input">
                    <label for="competencia">Competencia</label>
                    <input id="competencia" type="text" formControlName="competencia" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.competencia.errors }">
                    <div *ngIf="submitted && fval.competencia.errors" class="invalid-feedback">
                        <div *ngIf="fval.competencia.errors.required">{{error}}</div>
                    </div>
                </div>
                <div class="input">
                    <label for="proOposicion">Pro Oposición</label>
                    <input id="proOposicion" formControlName="proOposicion" type="text" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.proOposicion.errors }">
                    <div *ngIf="submitted && fval.proOposicion.errors" class="invalid-feedback">
                        <div *ngIf="fval.proOposicion.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <div class="between-row">
                <div class="input">
                    <label for="afiliados">Afiliados</label>
                    <input id="afiliados" type="text" formControlName="afiliados" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.afiliados.errors }">
                    <div *ngIf="submitted && fval.afiliados.errors" class="invalid-feedback">
                        <div *ngIf="fval.afiliados.errors.required">{{error}}</div>
                    </div>
                </div>

                <div class="input">
                    <label for="tracking">Tracking</label>
                    <input id="tracking" type="text" formControlName="tracking" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.tracking.errors }">
                    <div *ngIf="submitted && fval.tracking.errors" class="invalid-feedback">
                        <div *ngIf="fval.tracking.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="between-row">
                <div class="input">
                    <label for="padron">Padron</label>
                    <input id="padron" type="text" formControlName="padron" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.padron.errors }">
                    <div *ngIf="submitted && fval.padron.errors" class="invalid-feedback">
                        <div *ngIf="fval.padron.errors.required">{{error}}</div>
                    </div>
                </div>

                <div class="input">
                    <label for="nominal">Nominal</label>
                    <input id="nominal" type="text" formControlName="nominal" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.nominal.errors }">
                    <div *ngIf="submitted && fval.nominal.errors" class="invalid-feedback">
                        <div *ngIf="fval.nominal.errors.required">{{error}}</div>
                    </div>
                </div>
            </div> -->

            <div>
                <div class="input">
                    <label for="footer"> Lema </label>
                    <input id="footer" type="text" formControlName="footer" class="form-control" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.footer.errors }">
                    <div *ngIf="submitted && fval.footer.errors" class="invalid-feedback">
                        <div *ngIf="fval.footer.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <div class="between-row ">
                <div class="card">
                    <label for="base">Preocupaciones</label>
                    <div class="betrow">
                        <div class="in">
                            <input id="preocupaciones" formControlName="preocupaciones" type="text" class="form-control ciudades" value="">
                            <button class="btn btn-outline-info add" role="group" type="button" (click)="addPreocupaciones(fval.preocupaciones.value)" data-toggle="modal" data-target="#add">
                                Agregar
                            </button>
                        </div>

                        <div class="menu">
                            <p *ngFor="let item of preocupaciones; let i of index" [ngClass]="{ 'is-invalid': submitted && fval.preocupaciones.errors }"> <a (click)="borrarP(preocupaciones,i)"><i class="fas fa-trash mr-2"></i> </a> {{item}} </p>
                            <div class="alert alert-danger" role="alert" *ngIf="errorCd !== false">
                                {{errorText}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="submitted && fval.preocupaciones.errors" class="invalid-feedback">
                        <div *ngIf="fval.preocupaciones.errors.required">{{error}}</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="botones">
                <button id="button" type="submit" class="btn btn-success">GUARDAR</button>
                <button id="button" type="reset" [routerLink]="['/home']" class="btn btn-danger">CANCELAR</button>
            </div>
            <br>
        </form>

    </div>

</div>
<div class="loading" *ngIf="loading">
    <div class="lds-ripple" *ngIf="loading">
        <div></div>
        <div></div>
    </div>
</div>