<div class="container col-md-12">
    <app-sidebar lass="sidebar"></app-sidebar>
    <div class="chart">
        <div id="containerEmotionsChart"></div>
    </div>
    <app-mapa-distritos class="mapa" (click)="entro()"></app-mapa-distritos>
    <div class="informacion infodistritos">
        <p>Base: <br> {{ejemplo?.base_c}}</p>
        <p class="distritos"> Saltillo</p>
        <p>Indecisos <br> {{ejemplo?.indecisos_c}}</p>
        <p>Arrepentidos <br> {{ejemplo?.arrependidos_c}} </p>
        <p>Pro Oposición <br> {{ejemplo?.pro_Oposicion_c}}</p>
        <p>Audiencia Digital <br>{{ejemplo?.audiencia_Digital_c}}</p>
        <p> Mejor Horario:
            <br> {{ejemplo?.hombres}}
            <br> {{ejemplo?.mujeres}} </p>
        <p class="competenciasdistritos">Competencia: <br>{{ejemplo?.competencia_c}}</p>
        <p class="competenciasdistritos">Afiliados: <br>{{ejemplo?.afiliados_c}}</p>
        <p class="competenciasdistritos">ActivosDigitales: <br>{{ejemplo?.activos_Digitales_c}}</p>
        <p class="competenciasdistritos">Tracking: <br>{{ejemplo?.tracking_c}}</p>
    </div>
</div>