<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ex">
    <app-navbar class="nav col-xs-12 col-sm-12 col-md-12 col-lg-12"></app-navbar>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <app-sidebar class="side nav col-xs-12 col-sm-12 col-md-2 col-lg-2"></app-sidebar>
        <div class="grafica col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div id="containerEmotionsChart"></div>
        </div>
        <div class="mapa col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>
                <div class="grafic"><img src="./assets/images/Coahuila-02.png" width="40%"></div>
            </div>
            <div class="mapas">
                <div class="card">
                    <p class="nombre">Saltillo D XVI</p>
                    <br><b>Preocupaciones <br></b>
                    <br> Recuperación
                    <br> Económica
                    <br> Corrupción
                    <br> Brutalidad Policiaca
                    <br> Feminicidios
                    <br> Salud
                </div>
            </div>
        </div>
        <div class="informacion col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <p>Base: <br> {{ejemplo?.base_c}}</p>
            <p class="distritos"> Saltillo</p>
            <p>Indecisos <br> {{ejemplo?.indecisos_c}}</p>
            <p>Arrepentidos <br> {{ejemplo?.arrependidos_c}} </p>
            <p>Pro Oposición <br> {{ejemplo?.pro_Oposicion_c}}</p>
            <p>Audiencia Digital <br>{{ejemplo?.audiencia_Digital_c}}</p>
            <p> Mejor Horario:
                <br> {{ejemplo?.hombres}}
                <br> {{ejemplo?.mujeres}} </p>
            <p class="competencias">Competencia: <br>{{ejemplo?.competencia_c}}</p>
            <p class="competencias">Afiliados: <br>{{ejemplo?.afiliados_c}}</p>
            <p class="competencias">ActivosDigitales: <br>{{ejemplo?.activos_Digitales_c}}</p>
            <p class="competencias">Tracking: <br>{{ejemplo?.tracking_c}}</p>
        </div>
    </div>
</div>