<div class="container-row  mexico">
    <div class="loading" *ngIf="loading">
        <div class="lds-ripple" *ngIf="loading">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="mapMX" id="mexico" (click)="selected($event?.point?.options?.value)"></div>
    <div id="bloquear" class="informacion">
        <p>Base: <br> {{dato?.base}} {{dato.gentilicio}}</p>
        <p class="distritos" *ngFor="let distrito of distritos"> {{distrito?.nombre}}</p>
        <p>Indecisos <br> {{dato?.indecisos}}</p>
        <p>Arrepentidos <br> {{dato?.arrepentidos}} </p>
        <p>Pro Oposición <br> {{dato?.proOposicion}}</p>
        <p>Audiencia Digital <br>{{dato?.audiencia_Digital}}</p>
        <p class="mx">Competencia: <br> {{dato?.competencia}}</p>
        <p class="mx">Afiliados: <br> {{dato?.afiliados}}</p>
        <p class="mx">ActivosDigitales: <br> {{dato?.activos_Digitales}}</p>
        <p class="mx">Tracking: <br> {{dato?.tracking}}</p>
    </div>
</div>