<div class="container-row  mexico">
    <div class="loading" *ngIf="loading">
        <div class="lds-ripple" *ngIf="loading">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="mapMX" id="mexico" (click)="selected($event?.point?.value)"></div>
    <div id="bloquear" class="informacion">
        <p>Base: <br> {{infoEstado?.base}} {{infoEstado?.gentilicio}}</p>
        <p class="distritos" *ngFor="let distrito of distritos"> {{distrito?.nombre}}</p>
        <p>Indecisos <br> {{infoEstado?.indecisos}}</p>
        <p>Arrepentidos <br> {{infoEstado?.arrepentidos}} </p>
        <p>Pro Oposición <br> {{infoEstado?.proOposicion}}</p>
        <p>Audiencia Digital <br>{{infoEstado?.audiencia_Digital}}</p>
        <p class="mx">Competencia: <br> {{infoEstado?.competencia}}</p>
        <p class="mx">Afiliados: <br> {{infoEstado?.afiliados}}</p>
        <p class="mx">ActivosDigitales: <br> {{infoEstado?.activos_Digitales}}</p>
        <p class="mx">Tracking: <br> {{infoEstado?.tracking}}</p>
    </div>
</div>