.fondo {
    min-width: 96%;
    background: url('/assets/images/backgroud/background-black.jpg'), no-repeat center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #F0F0F0;
    padding-left: 2%;
    padding-right: 2%;
}

input,
select {
    border-color: gray;
    color: #FFFFFF;
    background-color: #3F3F3F !important;
}

.ng-tns-c3-0 {
    border-color: gray !important;
    color: #FFFFFF !important;
    background-color: #3F3F3F !important;
}

.ng2-tag-input__text-input[_ngcontent-xpf-c5] {
    border-color: gray !important;
    color: #FFFFFF !important;
    background-color: #3F3F3F !important;
}

input:focus,
select:focus {
    border-color: gray;
    color: #FFFFFF;
    background-color: #3F3F3F !important;
}

option {
    background: #3F3F3F !important;
    background-color: #3F3F3F !important;
    color: #FFFFFF;
}

.between-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.add {
    width: 35%;
    max-height: min-content !important;
}

.betrow {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
}

.ciudades {
    width: 65%;
}

.menu {
    width: 45%;
    min-height: 50px;
    padding-left: 5px;
}

.in {
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

p {
    margin: 2px;
}

h1 {
    width: 100%;
    text-align: center;
}

.card {
    margin-top: 5px;
    min-width: 100% !important;
    margin-bottom: 5px !important;
    background-color: transparent !important;
    border-color: transparent;
}

.input-t {
    margin-bottom: 5px !important;
    min-width: 50% !important;
}

label {
    font-weight: bold !important;
}

.medio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 48%;
}

h6 {
    width: 100%;
    max-height: min-content;
}

.input {
    margin-bottom: 5px !important;
    min-width: 45% !important;
}

.input-t {
    margin-bottom: 5px !important;
    min-width: 25% !important;
}

.input-h {
    margin-bottom: 5px !important;
    min-width: 20% !important;
}

input#inicio,
input#fin {
    width: min-content !important;
}

h1 {
    width: 100%;
    text-align: center;
}

.card {
    min-width: 62.5%;
    margin-bottom: 5px !important;
    background-color: #4f4646;
}

.between-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.botones {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around !important;
    padding-bottom: 10px;
}

button#button {
    width: 40%;
    background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
    .input {
        margin-bottom: 5px !important;
        min-width: 100% !important;
    }
    .input-t {
        margin-bottom: 5px !important;
        min-width: 100% !important;
        margin-top: 5px !important;
    }
}