.fondo {
    min-width: 96%;
    min-height: min-content;
    background: url('/assets/images/backgroud/background-black.jpg'), no-repeat center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #F0F0F0;
    padding-left: 5%;
    padding-right: 5%;
}

.medio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 48%;
}

h6 {
    width: 100%;
    max-height: min-content;
}

.input {
    margin-bottom: 5px !important;
    min-width: 45% !important;
}

.input-t {
    margin-bottom: 5px !important;
    min-width: 25% !important;
}

.input-h {
    margin-bottom: 5px !important;
    min-width: 20% !important;
}

input#inicio,
input#fin {
    width: min-content !important;
}

input,
select {
    border-color: gray;
    background-color: transparent;
}

h1 {
    width: 100%;
    text-align: center;
}

.card {
    min-width: 62.5%;
    margin-bottom: 5px !important;
    background-color: #4f4646;
}

.between-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.botones {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around !important;
    padding-bottom: 10px;
}

button#button {
    width: 40%;
    background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
    .input {
        margin-bottom: 5px !important;
        min-width: 100% !important;
    }
    .input-t {
        margin-bottom: 5px !important;
        min-width: 100% !important;
        margin-top: 5px !important;
    }
}