<div class="row">
    <app-navbar class="nav"></app-navbar>


    <div class="mapa">
        <app-mapa-secciones></app-mapa-secciones>
    </div>
    <div class="informacion">
        <p>SECCION 0755</p>
        <p>Temas Relevantes:
            <br>Recuperación Economica
            <br> Salud COVID
            <br> Familia / Futuro
        </p><br>
        <p>Manejo de emociones:
            <br> Asertividad
            <br> Certeza
            <br> Compromiso
        </p>
        <br>
        <p>Mujeres 20 - 36 años
            <br> 4 - 7 pm
            <br> WA
            <br> FB
            <br> Medios Locales
            <br> Atención a Redes </p>
        <br>
        <p>Hombres 20 - 56
            <br> 12 - 3 pm
            <br> FB
            <br> Medios Locales
            <br> TW</p>
        <br>
        <p>IMPACTOS DIARIOS
            <br> 2 veces al dia.</p>

        <p>FORECAST <br> 1500 personas</p>
    </div>
</div>