.seccion {
    border: 1px solid #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    width: 88%;
    height: 98%;
    justify-content: space-between;
}

.left {
    width: 15% !important;
}

img {
    width: 50px !important;
}

.right {
    width: 80% !important;
    height: 80% !important;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
    font-size: small !important;
}

.representante {
    display: flex;
    flex-flow: column wrap !important;
    justify-content: center !important;
    align-items: center;
}

.seccionesinfo {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .seccion {
        display: flex !important;
        flex-flow: column wrap !important;
        justify-content: space-between !important;
        height: min-content;
        width: 100%;
    }
    .right {
        width: auto !important;
        height: auto;
    }
    .left {
        width: auto !important;
        height: auto;
    }
    .right {
        width: auto !important;
        height: auto !important;
    }
    .informacion {
        width: 100% !important;
    }
}