<div class="container-row seccionesinfo">
    <div class="seccion">
        <div class="left">
            <div class="representante">
                <img src="./assets/logos/Coahuila-05.png">
            </div>
        </div>
        <div class="mapMX right" id="secciones" (click)="seccionClicked($event?.point?.seccion)"></div>
    </div>
    <div class="informacion">
        <p>SECCION {{seccionID}}</p>
        <p>Temas Relevantes:
            <br>
            <a class="info">{{temas}}</a>
        </p>
        <p>Manejo de emociones:
            <br>
            <a class="info">{{emociones}}</a>
        </p>
        <p>Mujeres
            <br>
            <a class="info">{{mujeres}}</a>
        </p>
        <p>Hombres
            <br>
            <a class="info">{{hombres}}</a>
        </p>
        <p>IMPACTOS DIARIOS
            <br>
            <a class="info"> {{impactos}}</a>
        </p>
    </div>
</div>