<div class="container col-md-12">
    <div class="loading" *ngIf="loading">
        <div class="lds-ripple" *ngIf="loading">
            <div></div>
            <div></div>
        </div>
    </div>
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="formulario fondo">
        <div>
            <h1>{{titulo}}</h1>
        </div>
        <div>
            <div class="between-row">
                <div class="right">
                    <div>
                        <h4>Buscar Archivo:</h4>
                        <p>Da click en la imagen para subir tus archivos</p>
                    </div>

                    <div class="image-upload ">
                        <label for="file-input">
                            <img src="/assets/images/img-csv.png" width="120px">
                        </label>
                        <input #inp id="file-input" type="file" (change)="obtenerArchivo($event)" accept=".csv" runat="server">
                    </div>
                    <div>
                        <div class="alert alert-success" role="alert" *ngIf="cargada !== false">
                            {{textalert}}
                        </div>
                    </div>
                </div>
                <div class="left">
                    <div>
                        <h4>Ingresa la siguiente información:</h4>
                        <p>Basada en el Estado y Distrito al que pertenece el archivo csv</p>
                    </div>
                    <div class="selected">
                        <select [(ngModel)]="opcionSeleccionado" (change)="estadoSelected()">
                            <option value="0">Selecciona un Estado</option>
                            <option *ngFor="let dato of info" value="{{dato.nombre}}">{{dato.nombre}}</option>
                        </select>
                        <select [disabled]="disabledDist" [(ngModel)]="distSeleccionado" (change)="capturarNombre()">
                            <option value="0">Selecciona un Distrito</option>
                            <option *ngFor="let dato of distritosArr">{{dato}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="botones">
            <button [disabled]="saveDisabled" id="button" type="submit" class="btn btn-outline-success" (click)="clicked()">SUBIR</button>
            <button id="button" type="reset" [routerLink]="['/home']" class="btn btn-danger">CANCELAR</button>
        </div>

    </div>
</div>