h1 {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.name {
    font-weight: bold !important;
}

.edit {
    color: rgb(8, 22, 75);
}

.delete {
    color: red;
}

.icons {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.admon {
    width: 87%;
}

th {
    font-weight: bold !important;
    background-color: #FFF;
}

tr {
    background-color: rgb(206, 206, 206);
}

td {
    vertical-align: middle !important;
}

.chart {
    min-width: 100% !important;
    min-height: 700px;
}

@media only screen and (max-width: 600px) {
    .admon {
        width: 100%;
    }
    .chart {
        width: 80% !important;
        height: 80%;
    }
}