<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coahuila</title>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/mapdata/countries/mx/mx-all.js"></script>

    <div class="container">
        <div class="mapMX" id="container" style=" margin: 0 auto"></div>
    </div>
</head>

<body>
    <script>
        var datosSecciones = []
        var headers = []
            // Prepare random data
        var datas = [
            ['1', 1],
            ['2', 2],
            ['16', 16]
        ];

        Highcharts.getJSON('https://s3.amazonaws.com/nullpointerexception.com/COA_DIS.json', function(geojson) {
            var mapa = geojson;
            //  Highcharts.getJSON('https://www.entropia-ecosystem.com/data/COA_DIS.json', function(geojson) {
            // Coahuila
            Highcharts.mapChart('container', {
                chart: {
                    map: mapa,
                    backgroundColor: '#3F3F3F'
                },
                title: {
                    text: ''

                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },

                colorAxis: {
                    tickPixelInterval: 300,
                    min: 0,
                    minColor: '#E6E7E8',
                    maxColor: '#db6904'
                },
                plotOptions: {
                    map: {
                        states: {
                            // hover: {
                            //     color: '#dba604'

                            // }
                        }
                    },
                    series: {
                        events: {
                            click: function(e) {
                                console.log(e)
                                    // Prepare random data
                                    //irSeries()
                                console.log('geojson', geojson)
                                console.log('datas', datas)

                            }
                        }
                    }
                },
                series: [{
                    data: datas,
                    keys: ['DISTRITO_L', 'value'],
                    joinBy: ["DISTRITO_L"],
                    dataLabels: {
                        enabled: true,
                        color: '#FFFFFF',
                        fill: '#f1f7ff',
                        format: '{point.properties.DISTRITO_L}',
                        formatter: function() {
                            if (this.point.value) {
                                return this.point.name;
                            }
                        }
                    },
                }]
            });
        });


        function irSeries() {
            window.location = './Secciones.html';

        }
    </script>







</body>

</html>