<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="">
    <title>México</title>

    <script src="https://code.highcharts.com/maps/highmaps.js" />
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/mx/mx-all.js"></script>

</head>

<body>
    <div id="demo-mx" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>

    <script>
        var data = [
            ['mx-3622', 0, 0, 0],
            ['mx-ag', 1184996, 576638, 608358],
            ['mx-bc', 3155070, 1591610, 1563460],
            ['mx-bs', 637026, 325433, 311593],
            ['mx-ch', 3406465, 1692545, 1713920],
            ['mx-cl', 650555, 322790, 327765],
            ['mx-cm', 822441, 407721, 414720],
            ['mx-co', 2748391, 1364197, 1384194],
            ['mx-cs', 4796580, 2352807, 2443773],
            ['mx-df', 8851080, 4233783, 4617297],
            ['mx-dg', 1632934, 803890, 829044],
            ['mx-gj', 5486372, 2639425, 2846947],
            ['mx-gr', 3388768, 1645561, 1743207],
            ['mx-hg', 2665018, 1285222, 1379796],
            ['mx-ja', 7350682, 3600641, 3750041],
            ['mx-mi', 4351037, 2102109, 2248928],
            ['mx-mo', 1777227, 858588, 918639],
            ['mx-mx', 15175862, 7396986, 7778876],
            ['mx-na', 1084979, 541007, 543972],
            ['mx-nl', 4653458, 2320185, 2333273],
            ['mx-oa', 3801962, 1819008, 1982954],
            ['mx-pu', 5779829, 2769855, 3009974],
            ['mx-qr', 1325578, 673220, 652358],
            ['mx-qt', 1827937, 887188, 940749],
            ['mx-si', 2585518, 1260366, 1325152],
            ['mx-sl', 2767761, 1376201, 1391560],
            ['mx-so', 2662480, 1339612, 1322868],
            ['mx-tb', 2238603, 1100758, 1137845],
            ['mx-tl', 1169936, 565775, 604161],
            ['mx-tm', 3268554, 1616201, 1652353],
            ['mx-ve', 7643194, 3695679, 3947515],
            ['mx-yu', 1955577, 963333, 992244],
            ['mx-za', 1490668, 726897, 763771],

        ];

        Highcharts.mapChart('demo-mx', {
            chart: {
                map: 'countries/mx/mx-all',
                animation: {
                    duration: 2000
                }
            },

            title: {
                text: 'México',
                style: {
                    "color": "#0B3B0B"
                }
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'top'
                }
            },

            colorAxis: {
                min: 0
            },

            plotOptions: {
                series: {
                    events: {
                        click: function(e) {
                            var text = '<b>Información</b><br>' + '<br>Estado: ' + e.point.name + '<br>' + this.name + ': ' + e.point.value;
                            if (!this.chart.clickLabel) {
                                this.chart.clickLabel = this.chart.renderer.label(text, 0, 250)
                                    .css({
                                        width: '180px'
                                    })
                                    .add();
                            } else {
                                this.chart.clickLabel.attr({
                                    text: text
                                });
                            }
                        }
                    }
                }
            },

            series: [{
                data: data,
                name: 'Población total',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    states: {
                        hover: {
                            color: '#088A29'
                        }
                    }

                }
            }]
        });
    </script>
</body>

</html>