<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mexico</title>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/mx/mx-all.js"></script>
    <div class="mapMX" id="container" style="height: 600px; min-width: 310px; max-width: 1000px; margin: 0 auto"></div>
    <div class="grafica" id="container2" style="height: 100px; min-width: 310px; max-width: 1000px; margin: 0 auto">
    </div>


</head>

<body>
    <script>
        var data = Highcharts.geojson(Highcharts.maps['countries/mx/mx-all']),
            small = $('#container').width() < 400;




        // Mexico
        Highcharts.mapChart('container', {
            chart: {
                events: {
                    drilldown: function(e) {
                        if (!e.seriesOptions) {
                            var chart = this,
                                mapKey = 'countries/mx/' + e.point.drilldown + '-all',
                                // Handle error, the timeout is cleared on success
                                fail = setTimeout(function() {
                                    if (!Highcharts.maps[mapKey]) {
                                        chart.showLoading('<i class="icon-frown"></i> Failed loading ' + e.point.name);
                                        fail = setTimeout(function() {
                                            chart.hideLoading();
                                        }, 1000);
                                    }
                                }, 3000);
                        }
                    },
                }
            },

            title: {
                text: 'Mapa de la República Mexicana'
            },

            subtitle: {
                text: '',
                floating: true,
                align: 'right',
                y: 50,
                style: {
                    fontSize: '16px'
                }
            },

            legend: small ? {} : {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            colorAxis: {
                min: 0,
                minColor: '#E6E7E8',
                maxColor: '#db6904'
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            plotOptions: {

                map: {
                    states: {
                        hover: {
                            color: '#dba604'

                        }
                    }
                }
            },


            series: [{

                data: [{
                    id: "mx-co",

                    value: 100
                }],
                mapData: data,
                allowPointSelect: false,
                joinBy: ["hc-key", "id"],
                name: 'MX',
                drilldown: {
                    series: [{
                        name: "mx-co",
                        id: "mx-co",
                        data: [
                            ['mx-co-27', 58]
                        ]
                    }]


                },

                dataLabels: {
                    enabled: true,
                    format: '{point.properties.name}'
                }
            }, {
                type: 'mapline',

                color: 'silver',
                enableMouseTracking: false,
                animation: {
                    duration: 500
                }
            }],

            drilldown: {
                activeDataLabelStyle: {
                    color: '#FFFFFF',
                    textDecoration: 'none',
                    textOutline: '1px #000000'
                },
                drillUpButton: {
                    relativeTo: 'spacingBox',
                    position: {
                        x: 0,
                        y: 60
                    }
                },


            }
        });
    </script>
</body>

</html>